/*  #Assignment 2 Styles
================================================== */
.container {
	overflow: hidden;
	width: 90%;
	max-width: 700px;
	margin: 1.5em auto;
}

.title, sub-title, .author { 
	font-family: "adelle", serif; 
	font-style: normal;
}

.title {
	font-size: 2.3em;
	line-height: 1em;
	font-weight: 400;
	margin-bottom: .2em;
	color: #fff;
}

.subtitle {
	font-weight: 300;
	color: #fff; 
}

.author {
	font-weight: 100;
	color: #fff;
	font-size: .7em;
	line-height: 1.5em;
}

.focus {
	font-family: "proxima-nova", sans-serif;
	font-weight: 400;
	color: #fff;
	font-size: .9em;
	line-height: 1em;
	margin-bottom: 0;
}

.first { 
	text-transform: uppercase; 
	font-weight: 700;
	color: #000; 
	font-family: "adelle"; 
}

.light { 
	color: #999; 
	font-weight: 300; 
}

.red { 
	color: #E41B17; 
}

.name {
	font-weight: 400;	
}

.page { 
	color: #000; 
}
 
.magazine {	
	font-family: "georgia", serif; 
	font-weight: 300; 
	color: #444;
	font-size: .7em;
	text-align: justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.copyright {
	text-transform: uppercase;
	font-size: .6em;
	color: #888;
	font-weight: 700;
}

.multimedia {
	font-family: "proxima-nova", sans-serif;
	font-weight: 300; 
	font-size: .7em;
	color: #fff;
	padding: 5%;
	background: #000;
	margin-bottom: 1em;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/*  #Elements
================================================== */
.bg {
	background: #E41B17 url('../images/bg.jpg') no-repeat;
	background-size: 100%;
	padding: 4%;
	margin-bottom: 1.5em;
}

.stripe-bg {
	background: #E41B17 url('../images/bg2.png');
	padding: 1em 1em 1em 0;	
	margin: 6% 0 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1) {
	.stripe-bg {
		background: #E41B17 url('../images/bg2-2x.png');
		background-size: 14px 14px;
	}
	}

.focus-box { 
	display: inline-block;
	padding: 2% 2.5%;
	text-transform: uppercase;
	background: rgba(0,0,0,0.85);
}

.article {
	padding: 5% 0 0 10%;
}

.author-box {
	margin: 0 auto;
	padding: 25% 0 0 65%;
}

/*  #nth-of-type Responsive Design
================================================== */
.mobile-bg  { 
	display: none; 
}

.example {
	background: #F8F8F8 url('../images/bg2.png');
	font-weight: 700;
	font-size: 1.2em;
	text-align: center; 
	padding-top: 1.5em;
	margin-bottom: 1em;
}

.fullwidth .col {
	width: 100%;
	display: inline-block;
	margin-left: 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1) {
	.example {
		background: #F8F8F8 url('../images/bg2-2x.png');
		background-size: 14px 14px;
	}
	}

.wrapper {
	overflow: hidden;
}

.grid3 .col:nth-of-type(3n+1),
.grid2 .col:nth-of-type(2n+1) {
	margin-left: 0;
	clear: left;
}
	
.col {
	float: left;
	margin-left: 3.2%;
}

.grid3 .col {
	width: 31.2%;
}

.grid2 .col {
	width: 48.4%;
}

@media screen and (max-width: 700px) {
	/* change grid3 to 2-column */
	.grid3 .col {
		width: 48.4%;
	}
	.grid3 .col:nth-of-type(3n+1) {
		margin-left: 3.2%;
		clear: none;
	}
	.grid3 .col:nth-of-type(2n+1) {
		margin-left: 0;
		clear: left;
	}
	
	.bg { 
		padding: 4%;
	 }
}

/*Changed from 400px to 518px*/
@media screen and (max-width: 518px) {
	.col {
		width: 100% !important;
		margin-left: 0 !important;
		clear: none !important;
	}	
	.container { 
		width: 90%;
	}
	 
	body { 
		font-size: 18px;
	}
	
	.magazine { 
		font-size: .8em; 
	}
	
	.multimedia-text { 	
		text-align: center;
		font-size: .8em; 
	}
	
	.title { 
		font-size: 1.8em;
		text-align: center; 
	}
	
	.article {
		padding: 3% 0 0;
		
	}
	
	.subtitle { 
		font-size: 1.2em;
		text-align: center;
	}
	
	.author { 
		font-size: .8em;
	}
	
	.author-box { 
		text-align: center; 
		padding: 0; 
	}
	
	.focus { 
		font-size: .7em;
	}
	 
	.bg { 
		background: #E41B17;
	}
		
	.focus-box { 
		text-align: center; 
		display: block; 
	}
	
	.stripe-bg { 
		padding: .8em 0; 
	}
	
	.mobile-bg { 
		display: block;
		margin-bottom: 1.5em; 
	}
}