/*  #Layout
-------------------------------------------------------------- */
.container {
  margin: 0 auto;
  max-width: 32em;
  width: 90%;
}

body {
  background: #fff;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.5em;
  color: #333;
}

header {
  margin: 1em 0;
}

.column {
  clear: none;
  margin: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

/*  #Nav
-------------------------------------------------------------- */
.logo-wrap {
  float: left;
  padding: 0.5em 0;
}

.logo {
  background: url("/images/logo.png");
  display: inline-block;
  height: 26px;
  width: 34px;
}

.nav {
  float: right;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.nav li {
  font-size: 1em;
  float: left;
  line-height: 1em;
  list-style: none;
  margin-left: 1.5em;
}

.nav li:first-child {
  margin-left: 0;
}

.nav li a {
  color: #8c9397;
  display: block;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  padding: 0.9em 0;
}

.nav li a:hover {
  color: #EE4938;
  text-decoration: none;
}

.bio {
  color: #8c9397;
}

/*  #Links
-------------------------------------------------------------- */
a {
  color: #EE4938;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*  #Headers
-------------------------------------------------------------- */
.masthead {
  float: left;
  font-size: 1.5em;
  font-family: "proxima-nova",sans-serif;
  line-height: 1em;
  margin-bottom: 0;
}

.masthead a:hover {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  color: #333;
  margin: 0;
}

h1 {
  font-size: 2em;
  line-height: 1.1em;
  margin-bottom: 0.5em;
  font-weight: 600;
}

.remove-bottom {
  margin-bottom: 0;
}

.add-bottom {
  margin-bottom: 1em;
}

h2 {
  font-size: 1.3em;
  line-height: 1.3em;
  margin-bottom: 0.5em;
  font-weight: 400;
}

h3 {
  font-size: 1.3em;
  line-height: 1.3em;
  margin-bottom: 0.6em;
  font-weight: 600;
}

.section-header {
  font-size: 1.8em;
  line-height: 1.4em;
  margin-bottom: 0.5em;
  font-weight: 600;
}

h4 {
  font-size: 1.2em;
  line-height: 1.3em;
  margin-bottom: 0;
  font-weight: 600;
}

h4 a {
  color: #333;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out
}

h4 a:hover {
  color: #EE4938;
  text-decoration: none;
}

.date {
  color: #8c9397;
  display: block;
  font-size: 1em;
  font-weight: 400;
}

/*  #Basic Styles
-------------------------------------------------------------- */
p {
  font-family: "proxima-nova",sans-serif;
  font-size: 1em;
  font-style: normal;
  line-height: 1.5em;
  margin: 0 0 1.5em 0;
  font-weight: 400;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

sup {
  line-height: 0;
  vertical-align: super;
  font-size: smaller;
}

img {
  margin-bottom: 1em;
  width: 100%;
}

ul, ol {
  margin: 0 0 1.5em 2em;
  padding: 0;
  list-style: disc outside;
}

.clean {
  margin: 0 0 1.5em 0;
  list-style: none;
 }

.clean li {
  margin-bottom: 1em;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.5em 0;
  height: 0;
}

blockquote {
  border-left: 6px solid #EE4938;
  margin: 0 0 1.5em;
  padding: 0 1em;
}

blockquote p {
  margin-bottom: 0;
  font-style: italic;
}

code {
  background-color: #F8F8F8;
  border: 1px solid #DDD;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 0.8em;
  padding: 0 0.3em;
  margin: 0 0.2em;
}

/*  #Boxes
-------------------------------------------------------------- */
.box {
  overflow: hidden;
  margin-bottom: 1.5em;
  padding: 3% 3% 0;
  background: #fff8dc;
  -webkit-box-ishadow: 0 1px 3px rgba(64, 56, 41, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(64, 56, 41, 0.2);
  box-shadow: 0 1px 3px rgba(64, 56, 41, 0.2);
}

/* Elements
-------------------------------------------------------------- */
.note {
  background: #fff8dc;
  padding: .5em;
  margin-bottom: 1.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #fbeed5;
}

.note p:before {
  content:"Note: ";
  font-weight: 600;
}

.note p:last-child {
  margin-bottom: 0;
}

.gray {
  background: #e8e8e8;
}

.shadow {
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/*  #Skill Assessment 2
-------------------------------------------------------------- */
section {
  margin-bottom: 2em;
}

section h2 {
  font-size: 1em;
}

.assessment {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: .3em;
}

.icon {
  font-size: 1.5em;
}

.skill {
  background: #E8E8E8;
  height: 2em;
  margin-bottom: 1em;
}

figure {
  background: #FE5A27;
  width: 100%;
  height: 2em;
  margin: 0;
}

.html {
  width: 60%;
}

.rwd {
  width: 70%;
}

.git {
  width: 50%;
}

.jquery {
  width: 10%;
}

.layout {
  width: 65%;
  background: #4FB5D2;
}

.typography {
  width: 85%;
  background: #4FB5D2;
}

.color {
  width: 55%;
  background: #4FB5D2;
}

.writing {
  width: 40%;
  background: #666666;
}

.planning {
  width: 65%;
  background: #666666;
}

.speaking {
  width: 20%;
  background: #666666;
}

/* Gist
-------------------------------------------------------------- */
.gist {
  margin-bottom: 1.5em;
}

.gist-data, .gist-syntax .k {
  color: #333 !important;
  font-weight: normal !important;
}

.gist-file .gist-data {
  background-color: #fff !important;
  border-bottom: 0 !important;
  font-size: 0.8em !important;
}

.gist-meta {
  display: none;
}

/*  #Posts
-------------------------------------------------------------- */
ul.posts {
  margin: 0 0 1.5em;
  background: #fff;
  padding: 0;
}

ul.posts:last-child {
  margin: 0;
}

ul.posts li {
  list-style: none;
}

ul.posts li a {
  display: block;
  overflow: hidden;
  padding: .5em 0;
  border-bottom: 1px solid #eee;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

ul.posts li span {
  float: left;
  width: 70%;
  font-weight: 400;
}

ul.posts li em {
  font-family: "droid-sans-mono", sans-serif;
  float: right;
  font-style: normal;
  font-weight: 300;
  color: #999;
  font-size: .9em;
}

ul.posts li p {
  float: left;
  padding-top: 1%;
  margin-bottom: 0;
  font-size: .9em;
  font-weight: 400;
  color: #555;
}

/*remove the bottom border*/
ul.posts li:nth-last-of-type(1) a {
  border-bottom: 0;
}

/*highlight even rows*/
/*ul.posts li:nth-of-type(even) a {
  background: #f8f8f8;
}*/

/*highlight first posts*/
/*ul.posts li:nth-of-type(1) a {
  background: #fff8dc;
}*/

.previous {
  float: left;
}

.next {
  float: right;
}

/* animate.css by Daniel Eden
-------------------------------------------------------------- */
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

#hero2 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

/* fadeIn
-------------------------------------------------------------- */
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-o-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* fadeInUp
-------------------------------------------------------------- */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/* fadeInDown
-------------------------------------------------------------- */
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/* fadeInDownBig
-------------------------------------------------------------- */
@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  -moz-animation-name: fadeInDownBig;
  -o-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}

/* Timeline
-------------------------------------------------------------- */
.timeline-logo {
  background: url("/images/logo-2x.png");
  background-size: 44px 36px;
  display: inline-block;
  width: 44px;
  height: 36px;
}

.timeline-header {
  margin-bottom: 1.5em;
  text-align: center;
}

.timeline-header h1 {
   margin-bottom: 0.2em;
}

.timeline-header h2 {
  color: #AAA;
  font-size: 1em;
  font-weight: 400;
}

.timeline h4 {
  font-size: 1em;
  margin-bottom: 0.5em;
}

.timeline-footer {
  font-size: 1em;
  margin-top: 1.5em;
  text-align: center;
}

.timeline {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.timeline li {
  position: relative;
}

.timeline:before {
  background: #ddd;
  content: " ";
  position: absolute;
  top: 0;
  left: 49.9%;
  bottom: 0;
  width: 1px;
}

.timeline-date {
  display: none;
}

.timeline-date-mobile {
  display: block;
  color: #AAA;
  font-size: 1.1em;
  margin-bottom: 0.7em;
  text-align: center;
}

.timeline-box {
  background: #FFF;
  border: 1px solid #DDD;
  -moz-border-radus: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 2em 0;
  position: relative;
}

.timeline p {
  color: #AAA;
  font-size: 1em;
  margin: 0;
}

.content-wrap {
  padding: 0.7em;
}

.link-wrap {
  background: #FAFAFA;
  -moz-border-radus: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid #DDD;
  padding: 0.3em 0.7em;
}

.pin {
  background: url(/images/pin.png);
  display: inline-block;
  width: 15px;
  height: 21px;
  margin: 0 0.2em 0 0;
  vertical-align: middle;
}

.link {
  background: url(/images/link.png);
  display: inline-block;
  width: 24px;
  height: 21px;
  margin: 0 0.2em 0 0;
  vertical-align: middle;
}

.check {
  background: url(/images/check.png);
  display: inline-block;
  width: 21px;
  height: 21px;
  margin: 0 0.2em 0 0;
  vertical-align: middle;
}

.location {
  display: inline-block;
  font-size: 0.9em;
  vertical-align: middle;
}

/*  #Pseudo-Classes
-------------------------------------------------------------- */
p.example:before {
  background: #d31742;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  content: "before";
  color: #fff;
  padding: 0 0.3em;
}

p.example:after {
  background: #d31742;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  content: "after";
  color: #fff;
  padding: 0 0.3em;
}

ul.example {
  list-style: none;
  padding: 0;
  margin-left: 0;
}

ul.example li:before {
  content: "★";
  color: #D31742;
  padding-right: 0.5em;
}

.row-example {
  border: 1px dashed #dedede;
  margin-bottom: 1.5em;
  padding: 1.5em 1.5em 0 1.5em;
}

.column-example-bad,
.column-example {
  background: #F8F8F8;
  border: 1px solid #DDD;
  float: none;
  width: 100%;
  margin-left: 0;
  margin-bottom: 1.5em;
  padding: 1em;
}

.column-example-bad p,
.column-example p {
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.first {
  border: 1px solid #008080;
  margin-left: 0;
}

.column-example:first-child {
  border: 1px solid #008080;
  margin-left: 0;
}

/*  #Clearfix
-------------------------------------------------------------- */
.container:before, .cf:before,
.row:before, .row:after,
.container:after, .cf:after {
  content: " ";
  display: table;
}

.container:after,
.row:after,
.cf:after {
  clear: both;
}

.container,
.row,
.cf {
  *zoom: 1;
}

/*  #Retina Images
-------------------------------------------------------------- */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .logo {
    background: url("/images/logo-2x.png");
    background-size: 34px 26px;
  }

  .pin {
    background: url("/images/pin-2x.png");
    background-size: 15px 21px;
  }

  .link {
    background: url(/images/link-2x.png);
    background-size: 24px 21px;
  }

  .check {
    background: url(/images/check-2x.png);
    background-size: 21px 21px;
  }
}

/* Mobile First RWD
-------------------------------------------------------------- */
@media screen and (min-width: 640px) {
  body {
    font-size: 112.5%;
  }

  header {
    margin: 2em 0;
  }

  .column {
    float: left;
    margin-right: 5%;
  }

  .one-third {
    width: 30%;
  }

  .half {
    width: 47.5%;
  }

  .two-third {
    width: 65%;
  }

  .row .column:last-child {
    margin-right: 0;
    clear: right;
  }

  .column-example-bad {
    float: left;
    margin-left: 3.2%;
    width: 31.2%;
  }

  .first {
    border: 1px solid #008080;
    margin-left: 0;
  }

  .column-example {
    float: left;
    margin-left: 3.2%;
    width: 31.2%;
  }

  .column-example:first-child {
    border: 1px solid #008080;
    margin-left: 0;
  }

  .nav li {
    font-size: 0.9em;
  }

  .timeline-header {
    margin-bottom: 3em;
  }

  .timeline:before {
    background: #ddd;
    content: " ";
    position: absolute;
    top: 20px;
    left: 31%;
    bottom: 0;
    width: 1px;
  }

  .timeline-date-wrap {
    display: block;
    left: 0;
    top: 14px;
    position: absolute;
    width: 24%;
  }

  .timeline-date {
    color: #AAA;
    display: block;
    font-size: 0.9em;
    text-align: right;
  }

  .timeline-date-mobile {
    display: none;
  }

  .timeline-circle {
    background: #FFF;
    border: 2px solid #333;
    -moz-border-radus: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    left: 29.7%;
    top: 20px;
    position: absolute;
  }

  .timeline-box {
    background: #FFF;
    border: 1px solid #DDD;
    -moz-border-radus: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0 0 2em 40%;
    position: relative;
  }

  .timeline-box:after, .timeline-box:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    right: 100%;
  }

  .timeline-box:before {
    border-color: rgba(221, 221, 221, 0);
    border-right-color: #DDD;
    border-width: 15px;
    left: auto;
    margin-left: 0;
    top: 12px;
  }

  .timeline-box:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #FFF;
    border-width: 14px;
    left: auto;
    margin-left: 0;
    top: 13px;
  }

  .timeline-header h2, .timeline p {
    font-size: 0.9em;
  }

  .location {
    font-size: 0.8em;
  }

  .timeline-footer {
    font-size: 0.8em;
    margin-top: 3em;
  }
}

@media screen and (min-width: 900px) {
  body {
    font-size: 125%;
  }
}
