/*  #Basic Styles
================================================== */
body {
  background: #fff;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-size: 125%;
  line-height: 1.5em;
  color: #333;
}

.container {
  width: 90%;
  max-width: 650px;
  margin: 1.5em auto;
}

header {
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #ddd;
 }

/*  #Links
================================================== */
a, a:visited {
  color: #EE4938;
  text-decoration: none;
}

a:hover {
  color: #EE4938;
  text-decoration: underline;
}

.masthead a:hover {
  text-decoration: none;
}

/*  #Headers
================================================== */
.masthead {
  font-family: "proxima-nova",sans-serif;
  margin-bottom: 0;
  line-height: 1em;
  font-size: 2em;
}

h1, h2, h3, h4 {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  color: #333;
  margin: 0;
}

h1 {
  font-size: 2em;
  line-height: 1.1em;
  margin-bottom: .7em;
  font-weight: 700;
}

.posts {
  margin-bottom: 0;
}

h2 {
  font-size: 1.5em;
  line-height: 1.3em;
  margin-bottom: .5em;
  font-weight: 300;
}

h3 {
  font-size: 1.333em;
  line-height: 1.1em;
  margin-bottom: .5em;
  font-weight: 700;
}

h4 {
  font-size: 1em;
  line-height: 1em;
  margin-bottom: 0;
  font-weight: 600;
}

.date {
  font-size: 1em;
  color: #999;
  font-weight: 300;
  margin-bottom: 1em;
  text-transform: uppercase;
}

/*  #Body
================================================== */
p {
  font-family: "proxima-nova",sans-serif;
  font-size: 1em;
  font-style: normal;
  line-height: 1.5em;
  margin: 0 0 1.5em 0;
  font-weight: 400;
}

/*p:last-child {
  margin-bottom: 0;
}

ul:last-child {
  margin-bottom: 0;
}*/

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

sup {
  line-height: 0;
  vertical-align: super;
  font-size: smaller;
}

img {
  width: 100%;
  -webkit-box-shadow: 0 1px 3px rgba(64, 56, 41, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(64, 56, 41, 0.2);
  box-shadow: 0 1px 3px rgba(64, 56, 41, 0.2);
}

ul, ol {
  margin: 0 0 1.5em 2em;
  padding: 0;
}

li {
  list-style: disc outside;
 }

.clean {
  margin: 0 0 1.5em 0;
 }

.clean li {
  list-style: none;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.5em 0 2em;
  height: 0;
}

blockquote {
  background: #f8f8f8;
  border-left: 7px solid #EE4938;
  color: #333;
  margin: 0 0 1.5em;
  padding: 2% 4%;
  -webkit-box-shadow: 0 1px 3px rgba(64, 56, 41, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(64, 56, 41, 0.2);
  box-shadow: 0 1px 3px rgba(64, 56, 41, 0.2);
}

blockquote p {
  margin-bottom: 0;
  color: #444;
  font-size: .9em;
  font-weight: 300;
}

/*  #Boxes
================================================== */
.box {
  overflow: hidden;
  margin-bottom: 1.5em;
  padding: 3% 3% 0;
  background: #fff8dc;
  -webkit-box-ishadow: 0 1px 3px rgba(64, 56, 41, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(64, 56, 41, 0.2);
  box-shadow: 0 1px 3px rgba(64, 56, 41, 0.2);
}

.note {
  background: #fff8dc;
  padding: .5em;
  margin-bottom: 1.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #fbeed5;
}

.note p:before {
  content:"✎  ";
}

.note p {
  margin-bottom: 0;
}

.gray {
  background: #e8e8e8;
}

.shadow {
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/*  #Skill Assessment 2
================================================== */
section {
  margin-bottom: 2em;
}

section h2 {
  font-size: 1em;
}

.assessment {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: .3em;
}

.icon {
  font-size: 1.5em;
}

.skill {
  background: #E8E8E8;
  height: 2em;
  margin-bottom: 1em;
}

figure {
  background: #FE5A27;
  width: 100%;
  height: 2em;
  margin: 0;
}

.html {
  width: 60%;
}

.rwd {
  width: 70%;
}

.git {
  width: 50%;
}

.jquery {
  width: 10%;
}

.layout {
  width: 65%;
  background: #4FB5D2;
}

.typography {
  width: 85%;
  background: #4FB5D2;
}

.color {
  width: 55%;
  background: #4FB5D2;
}

.writing {
  width: 40%;
  background: #666666;
}

.planning {
  width: 65%;
  background: #666666;
}

.speaking {
  width: 20%;
  background: #666666;
}
/*  #Posts
================================================== */
ul.posts {
  margin: 0 0 1.5em;
  background: #fff;
  padding: 0;
}

ul.posts li {
  list-style: none;
}

ul.posts li a {
  display: block;
  overflow: hidden;
  padding: .5em;
  border-bottom: 1px solid #eee;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

ul.posts li a:hover {
  background: #e8e8e8;
  text-decoration: underline;
}

ul.posts li span {
  float: left;
  width: 70%;
  font-weight: 400;
}

ul.posts li em {
  font-family: "droid-sans-mono", sans-serif;
  float: right;
  font-style: normal;
  font-weight: 300;
  color: #999;
  font-size: .9em;
}

ul.posts li p {
  float: left;
  padding-top: 1%;
  margin-bottom: 0;
  font-size: .9em;
  font-weight: 400;
  color: #555;
}

/*remove the bottom border*/
ul.posts li:nth-last-of-type(1) a {
  border-bottom: 0;
}

/*highlight even rows*/
/*ul.posts li:nth-of-type(even) a {
  background: #f8f8f8;
}*/

/*highlight first posts*/
/*ul.posts li:nth-of-type(1) a {
  background: #fff8dc;
}*/

/*  #Clearfix
================================================== */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

/*  #Mobile (Portrait)
================================================== */
@media only screen and (max-width: 518px) {
  .container {
    width: 90%;
  }

  body {
    font-size: 18px;
  }

  h2 {
    font-size: 1.5em;
  }
}
