/* Layout
-------------------------------------------------------------- */
/* Apply box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: 112%/1.5 "chaparral-pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #f9f9f9;
  color: #333;
}

.container {
  margin: 0 auto;
  max-width: 700px;
  overflow: hidden;
  padding: 3rem 0;
  width: 90%;
}

/* Header
-------------------------------------------------------------- */
header {
  background: #f4f4f4;
  text-align: center;
}

header .container {
  padding: 5rem 0;
}

header h1 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

/* Section
-------------------------------------------------------------- */
section {
  border-top: 1px solid #eee;
}

/* Grid
-------------------------------------------------------------- */
.column {
  float: left;
  margin-left: 5%;
}

.column:first-child {
  margin-left: 0;
}

.column.full {
  width: 100%;
}

.column.two-thirds {
  width: 65%;
}

.column.half {
  width: 47.5%;
}

.column.one-third {
  width: 30%;
}

.column.one-fourth {
  width: 21.2%;
}

/* Typography
-------------------------------------------------------------- */
h1, h2, h3, h4, h5 {
  color: #111;
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 1.8rem;
  line-height: 1.3em;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

h3 {
  font-size: 1.1rem;
  margin-bottom: .5rem;
}

p {
  color: #999;
  margin: 0 auto;
  max-width: 30rem;
}

em {
  font-style: italic;
}

code {
  background-color: #f8f8f8;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ddd;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 0.8rem;
  padding: 0.1rem 0.3rem;
  position: relative;
  top: -1px;
  white-space: nowrap;
}

ul {
  padding-left: 1.2rem;
  margin: 0;
}

/* Links
-------------------------------------------------------------- */
a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Elements
-------------------------------------------------------------- */
hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 2em 0;
  width: 3rem;
}

img {
  display: block;
  height: auto;
  margin: 0 auto 1.5rem auto;
  width: 100%;
}

.rwd {
  margin: 0 auto 1.5em auto;
  max-width: 380px;
}

/* Inputs
-------------------------------------------------------------- */
input[type="checkbox"] {
  float: left;
  margin: 0.3rem 0.6rem 0 0;
}

label {
  color: #333;
  display: block;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

label:last-child {
  margin-bottom: 0;
}

label span {
  float: left;
  width: 90%;
}

/* Media Queries
-------------------------------------------------------------- */
@media screen and (max-width: 640px) {
  html { font-size: 100%; }
  .container { padding: 3rem 0; }
  hr { margin: 2rem 0; }
  .intro { margin: 2rem 0; }
  .fragmentation { min-height: 250px; }

  .column.full,
  .column.two-thirds,
  .column.half,
  .column.one-third,
  .column.one-fourth {
    margin: 2em 0 0 0;
    width: 100%;
  }

  .column:first-child { margin-top: 0; }
  .container.mobile .column { padding: 18px; }
}
