/*  #Resets
================================================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  #Body Styles
================================================== */
body {
	background: #353544;
  font-family: "proxima-nova", sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 1.5em;
	color: #fffef4;
}

.container {
	overflow: hidden;
	width: 100%;
  max-width: 1920px;
	margin: .6em auto;
}

a, a:visited { color: #9FC9EB; text-decoration: none; outline: 0; }
a:hover, a:focus, a:active { color: #9FC9EB; text-decoration: underline; }

/*  #Styles
================================================== */
h1 {
	font-family: "proxima-nova",sans-serif;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	color: #fffef4;
	font-weight: 600;
	background: #525271;
	padding: .4em;
	margin: 0;
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.hat {
	background: #525271;
	padding: .4em;
	margin: 0;
}

h2 {
	font-family: "proxima-nova",sans-serif;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	color: #fffef4;
	font-weight: 700;
	margin-bottom: .4em;
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.thin {
	font-weight: 100;
}

.date {
	background: #6d6c93;
	text-transform: uppercase;
	color: #fffef4;
	font-size: 1.2em;
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.today {
	text-align: left; 
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.time {
	font-family: "droid-sans-mono", sans-serif;
	text-transform: uppercase;
	color: #fffef4;
	font-size: 2em;
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.meridiem {
	font-family: "proxima-nova",sans-serif;
	font-weight: 100;
	text-transform: uppercase;
	color: #fffef4;
	font-size: 1em;
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.temperature {
	text-align: center;
	display: block;
	font-family: "droid-sans-mono", sans-serif;
	text-transform: uppercase;
	color: #fffef4;
	font-size: 1.5em;
	color: #9FC9EB;
	padding: 5%;
	background: #78779A;
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.number {
	font-family: "droid-sans-mono", sans-serif;
	font-weight: 400;
	padding: 5%;
	text-transform: uppercase;
	color: #fffef4;
	font-size: 3em;
	line-height: 1em;
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.server-status {
	font-family: "droid-sans-mono", sans-serif;
	text-transform: uppercase;
	color: #fffef4;
	font-size: 2em;
	line-height: 1em;
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.active-users {
	font-family: "droid-sans-mono", sans-serif;
	text-transform: uppercase;
	color: #fffef4;
	font-size: 2em;
	line-height: 1em;
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.il {
	clear: both; 
	display: block;
	margin: 0 auto .6em;
}

.fl { 
	clear: both;
	display: block;
	margin: 0 auto .6em;
}

.university {
	clear: both;
	display: block;
	margin: 0 auto .1em;
}

.university-title {
	text-align: center;
	font-size: 1.5em;
	text-transform: uppercase;
	color: #fffef4;
	font-weight: 600;
	padding: 3%;
	margin: 0;
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.logo { 
	clear: both;
	display: block;
	margin: 0 auto .6em;
}

.logo-title {
	font-family: "proxima-nova",sans-serif;
	text-align: center;
	font-size: 1.6em;
	color: #fffef4;
	font-weight: 100;
	margin-bottom: .4em;
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.pass {
	width: 70%;
	padding: 5%;
	float: left;
	background: #5ebfbc;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;
}

.pass-number {
	display: block;
	color: #fffef4;
	text-align: center;
	font-size: 2em;
	font-family: "droid-sans-mono", sans-serif;
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.fail {
	width: 30%;
	padding: 5%;
	text-align: center;
	float: left;
	background: #f24e4e;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;
}

.fail-number {
	display: block;
	color: #fffef4;
	text-align: center;
	font-size: 2em;
	font-family: "droid-sans-mono", sans-serif;
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

ul {
	margin: 0;
}

ul li {
	list-style: none;
	display: block;
	overflow: hidden;
	padding: 3%;
	color: #fffef4;
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.center-list {
	text-align: center;
}

ul li .event-date {
	font-family: "droid-sans-mono", sans-serif;
	display: inline-block;
	width: 18%;
}
	
ul li .title {
	display: inline-block;
	font-family: "proxima-nova", sans-serif;
	font-weight: 300;
	width: 80%;
	vertical-align: top;
}

ul li .schedule-date {
	display: inline-block;
	font-family: "proxima-nova", sans-serif;
	font-weight: 300;
	text-align: center;
	font-size: 1.5em;
}

ul li:nth-of-type(odd) {
	background: #78779A;
}

/*  #nth-of-type
================================================== */
.logo-widget {
	overflow: hidden;
	clear: both;
	margin-bottom: .6em;
	background: #525271;
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

.widget {
	overflow: hidden;
	clear: both;
	background: #6d6c93;
	margin-bottom: .6em;
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

.widget-half {
	float: left;
	width: 48.7%;
	background: #6d6c93;
	margin-bottom: .6em;
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

.content {
	text-align: center;
	padding: 5%;
}

.left {
	margin-right: .6em;
}

.green {
	background: #5ebfbc;
}

.red {
	background: #f24e4e;
}

.orange {
	background: #F07241;
}

.logo-background {
	background: #525271;
}

.column-slim {
	width: 17%;
	float: left;
	margin-left: .6em;
}
.column-wide {
	width: 31.2%;
	float: left;
	margin-left: .6em;
}

/* #Tweet! http://tweet.seaofclouds.com/
================================================== */
.tweet_list {
	list-style: none;
	padding: 0;
	margin: 0 !important;
}

.tweet_list li {
	list-style: none;
	margin: 0;
	padding: 3%;
}
	  
.tweet_time {
	text-transform: uppercase;
	font-size: .9em; 
	display: block;
	font-weight: 100;
}
  
.tweet_time a {
	border: none;
	color: #fffef4;
}
	  
iframe {
  margin-bottom: 20px;
}

/* #Responsive
================================================== */
@media screen and (max-width: 518px) {
	.col {
		width: 100% !important;
		margin-left: 0 !important;
		clear: none !important;
	}
}