/*  #Basic Styles
================================================== */
body {
	background: #f6f2ec;
}

h1, h2, h3 {
	font-family: "adelle", serif; 
}

.code { 
	background: #333;
	margin-bottom: 1.5em;
	padding: 2%;
}

.code > p {
	font-family: "droid-sans-mono", sans-serif;
	font-weight: 400;
	color: #f6f2ec;
	font-size: .7em;
	line-height: 1.5em;
	margin-bottom: 0;
}	

blockquote {
	background: #fff;
	border-left: 7px solid #EE4938;
	color: #333;
	margin-bottom: 1.5em;
	padding: 2% 4%;
}

blockquote > p {
	margin-bottom: 0;
	color: #444;
	font-size: .9em;
	font-weight: 300;
}

/*  #Example 1
================================================== */
ul.lst {
	margin: 0 0 1.5em;
	border: 1px solid #ddd;
	background: #fff;
}

ul.lst li {
	list-style: none;
}

ul.lst li a {
	display: block;
	overflow: hidden;
	padding: 3% 2%;
	color: #555;
}

ul.lst li span {
	float: left;	
	width: 75%;
	font-weight: 300;
}
	
ul.lst li em {
	float: right;
	font-style: normal;
	font-weight: 300;
	color: #555;
}

/*  #Example 2
================================================== */
ul.lst2 {
	margin: 0 0 1.5em;
	border: 1px solid #ddd;
	background: #fff;
}

ul.lst2 li {
	list-style: none;
}

ul.lst2 li a {
	display: block;
	overflow: hidden;
	padding: 3% 2%;
	border-bottom: 1px solid #ddd;
	color: #555;
	background: #fff;
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	-ms-transition: background 0.3s ease;
	transition: background 0.3s ease;
}

ul.lst2 li a:hover {
	background: #eee;
}

ul.lst2 li span {
	float: left;	
	width: 75%;
	font-weight: 300;
}
	
ul.lst2 li em {
	float: right;
	font-style: normal;
	font-weight: 300;
	color: #555;
}

/*  #Example 3
================================================== */
ul.lst3 {
	margin: 0 0 1.5em;
	border: 1px solid #ddd;
	background: #fff;
}

ul.lst3 li {
	list-style: none;
}

ul.lst3 li a {
	display: block;
	overflow: hidden;
	padding: 3% 2%;
	border-bottom: 1px solid #ddd;
	color: #555;
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	-ms-transition: background 0.3s ease;
	transition: background 0.3s ease;
}

ul.lst3 li a:hover {
	background: #eee;
}

ul.lst3 li span {
	float: left;	
	width: 75%;
	font-weight: 300;
}
	
ul.lst3 li em {
	float: right;
	font-style: normal;
	font-weight: 300;
	color: #555;
}

ul.lst3 li:nth-of-type(even) {
	background: #f8f8f8;
}

/*remove the bottom border*/
ul.lst3 li:nth-last-of-type(1) a {
	border-bottom: 0;
}