/*  #Resets
================================================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 
/*  #Basic Styles
================================================== */
body {
  background: #fff;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5em;
}
	
.container {
	width: 90%;
	max-width: 700px;
	margin: 0 auto;
  padding: 1.5em 0;
}

.content { 
  overflow: hidden;
  position: relative;
  z-index: 200;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header { 
  position: relative;
  z-index: 200;
	margin-bottom: 1.5em;
  padding-bottom: 1.5em;
	border-bottom: 1px solid #ddd;
}

.masthead { 
	font-family: "proxima-nova",sans-serif;
	margin-bottom: 0;
	line-height: 1em;
	font-size: 2em;
  font-weight: 700;
}

/*  #Background Images
================================================== */
.background {
  position: relative;
}

.one {
  background: url('../images/position1.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.two {
  background: url('../images/position2.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.web {
  background: url('../images/web.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.background-texture {
  background: url('../images/grid.png');
}

.mask {
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
}

/*  #Headers
================================================== */
h1, h2, h3 { 
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	color: #333;
}

.position {
	font-size: 5em;
	line-height: 1.1em;
	margin-bottom: .4em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.z-index {
  font-size: 3.5em;
  line-height: 1.1em;
  margin-bottom: .4em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
}

.position-fixed {
	font-size: 3em;
	line-height: 1.1em;
	margin-bottom: .7em;
  text-transform: uppercase;
  font-weight: 600;
}

.smiley {
	font-size: 3.5em;
	line-height: 1.2em;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

h2 {
	font-size: 1.333em;
	line-height: 1.1em;
	margin-bottom: .5em;
	font-weight: 700;
  text-transform: uppercase;
}

h3 {
	font-size: 1.3em;
	line-height: 1.3em;
	margin-bottom: .6em;
	font-weight: 300;
}

/*  #Basic Styles
================================================== */
p {
	font-family: "proxima-nova",sans-serif;
	font-size: 1em;
	font-style: normal;
	line-height: 1.5em;
	margin: 0 0 1.5em 0;
  font-weight: 400;
  color: #333;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}
   	
hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 1.5em 0 2em;
	height: 0;
}

.background p,
.background h1,
.background h2,
.background h3 {
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

ul, ol {
	margin: 0 0 1.5em 2em;
  color: #333;
}

li { 
	list-style: disc outside;
 }
	
/*  #Links
================================================== */
a, a:visited {
	color: #EE4938;
	text-decoration: none;
}

a:hover {
	color: #EE4938;
	text-decoration: underline;
}

.smiley a {
	color: #fff;
}

.smiley a:hover {
	text-decoration: none; 
}

.masthead a:hover {  
	text-decoration: none; 
}

/*  #Columns
================================================== */
.grid2 .col:nth-of-type(2n+1) {
	margin-left: 0;
	clear: left;
}
	
.col {
	float: left;
	margin-left: 3.2%;
}

.grid2 .col {
	width: 48.4%;
}

.clear {
  clear: both;
}

/*  #Examples
================================================== */
.example1 {
  width: 295px;
  height: 260px;
  margin-bottom: .5em;
  background: url('../images/parent.png');
}

.example2 {
  width: 295px ;
  height: 260px;
  margin-bottom: .5em;
  background: url('../images/example.png');
}

.spider {
  position:fixed;
  top: 15px;
  left: 15px;
  width: 69px ;
  height: 102px;
  background: url('../images/spider.png');
  z-index: 999;
}

.parent {
  width: 295px ;
  height: 260px;
  background: url('../images/parent.png');
  border: 2px dashed #fff;
  margin: 1em 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.child {
  width: 165px ;
  height: 150px;
  background: url('../images/child.png');
  bottom: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.parent1 {
  width: 295px ;
  height: 260px;
  background: url('../images/parent.png');
  border: 2px dashed #fff;
  margin: 1em 0;
  z-index: 100;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.child1 {
  width: 165px ;
  height: 150px;
  background: url('../images/child.png');
  bottom: 125px;
  right: 440px;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.parent2 {
  width: 295px ;
  height: 260px;
  background: url('../images/parent.png');
  border: 2px dashed #fff;
  margin: 1em 0;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.child2 {
  width: 165px ;
  height: 150px;
  background: url('../images/child.png');
  bottom: 125px;
  right: 84px;
  z-index: 100;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.child3 {
  width: 165px ;
  height: 150px;
  background: url('../images/child.png');
  bottom: 965px;
  left: 305px;
  z-index: 100;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.static {
  position: static;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.box {
	overflow: hidden;
	margin-bottom: 1.5em;
	padding: 3% 3% 0;
	background: #f8f8f8;
	-webkit-box-shadow: 0 1px 3px rgba(64, 56, 41, 0.2);
	-moz-box-shadow: 0 1px 3px rgba(64, 56, 41, 0.2);
	box-shadow: 0 1px 3px rgba(64, 56, 41, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.box > p {
    color: #333;
    text-shadow: none;
}

.box > h2 {
  color: #333;
  text-shadow: none;
}

/*  #Mobile (Portrait)
================================================== */
@media only screen and (max-width: 518px) {
	.container { 
		width: 90%; 
	}
	
	body { 
		font-size: 18px; 
	}
	
	.position {
		font-size: 2.7em;
	}
  
  .position-fixed,
  .z-index {
  	font-size: 2em;
  }
  
	.col {
		width: 100% !important;
		margin-left: 0 !important;
		clear: none !important;
}