.container {
	width: 42em;
	margin: 3em auto 2em auto;
}

a, a:visited {
  color: #ED9121;
  text-decoration: none;
}

a:hover {
  color: #ED9121;
  text-decoration: underline;
}

h1, h2, h3, h3 { 
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	color: #111;
}

h1 {
	font-weight: 400;
}

h2 {
	font-weight: 300;
}

h3, h4 {
	font-weight: 400;
}
	
p {
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 300;
	line-height: 1.5em;
	color: #333;
}

li { 
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 300;
	line-height: 1.5em; }
	
hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}