/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  #Basic Styles
================================================== */
body {
	background: #FFF;
   	font-family: "proxima-nova", sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.5em;
	color: #333;
}
	
.container {
	width: 90%;
	max-width: 700px;
	margin: 1.5em auto;
}

/*  #Links
================================================== */
a, a:visited {
  color: #EE4938;
  text-decoration: none;
}

a:hover {
  color: #EE4938;
  text-decoration: underline;
}

/*  #Headers
================================================== */
h1, h2, h3 { 
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	color: #111;
}

h1 {
	font-size: 2em;
	line-height: 1.2em;
	margin-bottom: .7em;
	font-weight: 400;
}

h2 {
	font-size: 1.555em;
	line-height: 1.18466667em;
	margin-bottom: 1.18466667em;
	font-weight: 300;
}

h3 {
	font-size: 1.333em;
	line-height: 1.1em;
	margin-bottom: 1.1em;
	font-weight: 400;
}
	
p {
	font-family: "proxima-nova",sans-serif;
	font-size: 1em;
	font-style: normal;
	line-height: 1.5em;
	margin: 0 0 1.5em 0;
}

img {
	width: 100%;
}

em { font-style: italic; }

ul, ol {
	margin: 0 0 1.5em 2em;
}

li { 
	list-style: disc outside;
 }
 
 ul.posts {
	 margin: 0 0 1.5em 0;
 }
 
 ul.posts li {
 	list-style: none;
	margin-bottom: .5em;
 }
 	
hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 1.5em 0;
	height: 0;
}

.post-date {
	color: #AAAAAA;
	font-weight: 300;
	font-size: .9em;
}

.date {
	width: 8.6em;
	font-size: 1em;
	text-transform: uppercase;
	color: #AAAAAA;
	font-weight: 300;
	background: #f8f8f8;
	padding: .4em;
	text-align: center;
	margin-bottom: .6em;
}

/*  #Message Box
================================================== */
.box {
	overflow: hidden;
	margin-bottom: 1.5em;
	padding: 4% 4% 0;
	background: #FFF8DC;
	-webkit-box-shadow: 0 1px 3px rgba(64, 56, 41, 0.2);
	-moz-box-shadow: 0 1px 3px rgba(64,56,41,0.2);
	box-shadow: 0 1px 3px rgba(64, 56, 41, 0.2);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.gray {
	background: #F8F8F8;
}

/*  #Mobile (Portrait)
================================================== */

@media only screen and (max-width: 518px) {
	.container { 
		width: 90%; 
	}
	
	body { 
		font-size: 18px; 
	}
	
	h2 {
		font-size: 1.5em;
	}
}