a, a:visited {
  color: #41a096;
  text-decoration: none;
}

a:hover {
  color: #41a096;
  text-decoration: underline;
}

h1, h2, h3 { 
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 400;
}

p {
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 300;
}