/* Layout
-------------------------------------------------------------- */
*, *:before, *:after {
  box-sizing: border-box;
  webkit-box-sizing: border-box;
  mox-box-sizing: border-box;
}

.container {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  padding: 2em 0;
}

body {
  background: #FFF;
  color: #666;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
}

.column {
  float: none;
  margin-right: 0;
  margin-bottom: 2em;
  width: 100%;
}

.column:last-child { margin-bottom: 0; }

header {
  background: #71c8de;
  color: #b1e1ed;
  text-align: center;
}

header h1 {
  color: #f1fafc;
  font-weight: 700;
  font-size: 2em;
  line-height: 1.2em;
  margin-bottom: 0.5em;
}

header h2 {
  color: #b1e1ed;
  font-size: 1.3em;
}

header h3 {
  font-size: 3em;
}

header p {
  text-align: left;
  font-size: 1.2em;
}

/* Basic Styles
-------------------------------------------------------------- */
h1, h2, h3 { margin: 0; }

h1 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.3em;
  font-weight: 400;
  margin: 0 0 0.5em;
}

h3 {
  line-height: 1.3em;
  margin: 0;
}

p {
  font-size: 1em;
  margin-bottom: 1em;
}

a, a:hover {
  color: #71debd;
}

/* Elements
-------------------------------------------------------------- */
.blue {
  background: #b1e1ed;
  color: #46b8d5;
}

.blue h1 {
  color: #71c8de;
}

.white {
  background: #f1fafc;
  color: #71c8de;
}

.blue-bg {
  background: #91d5e6;
  color: #31b0d0;
}

.white-bg {
  background: #dcf3f8;
  color: #31b0d0;
}

.points-box {
  border-radius: 4px;
  mox-border-radius: 4px;
  webkit-border-radius: 4px;
  display: block;
  font-size: 1em;
  margin-top: 1.5em;
  padding: 0.5em;
}

.points-box p {
  font-size: 0.9em;
  float: left;
  margin: 0 0 0 10px;
}

.button {
  background: #48b8d4;
  border-radius: 50%;
  moz-border-radius: 50%;
  webkit-border-radius: 50%;
  color: #fff;
  clear: both;
  display: block;
  font-size: 1.8em;
  height: 60px;
  margin: 1.5em auto 0;
  text-decoration: none;
  width: 60px;
  -moz-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.button .button-text {
  display: block;
  padding-top: 12px;
  text-align: center;
}

.button:hover {
  background: #33b0d0;
  color: #fff;
}

img {
  width: 100%;
  height: auto;
}

.map {
  background: url("/images/map.png");
  background-size: 101px 85px;
  height: 85px;
  width: 101px;
  margin: 0 auto 1em;
}

.clock {
  background: url("/images/clock.png");
  background-size: 31px 31px;
  float: left;
  height: 31px;
  width: 31px;
}

.discovery {
  background: url("/images/discovery.png");
  background-size: 280px 250px;
  height: 250px;
  width: 280px;
  margin: 0 auto;
}

.wireframing {
  background: url("/images/wireframing.png");
  background-size: 280px 250px;
  height: 250px;
  width: 280px;
  margin: 0 auto;
}

.prototyping {
  background: url("/images/prototyping.png");
  background-size: 280px 250px;
  height: 250px;
  width: 280px;
  margin: 0 auto;
}

.user-testing {
  background: url("/images/user-testing.png");
  background-size: 280px 250px;
  height: 250px;
  width: 280px;
  margin: 0 auto;
}

.visual-design {
  background: url("/images/visual-design.png");
  background-size: 280px 250px;
  height: 250px;
  width: 280px;
  margin: 0 auto;
}

.implementation {
  background: url("/images/implementation.png");
  background-size: 280px 250px;
  height: 250px;
  width: 280px;
  margin: 0 auto;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .clock {
    background: url("/images/clock-2x.png");
    background-size: 31px 31px;
  }

  .map {
    background: url("/images/map-2x.png");
    background-size: 101px 85px;
  }

  .discovery {
    background: url("/images/discovery-2x.png");
    background-size: 280px 250px;
  }

  .wireframing {
    background: url("/images/wireframing-2x.png");
    background-size: 280px 250px;
  }

  .prototyping {
    background: url("/images/prototyping-2x.png");
    background-size: 280px 250px;
  }

  .user-testing {
    background: url("/images/user-testing-2x.png");
    background-size: 280px 250px;
  }

  .visual-design {
    background: url("/images/visual-design-2x.png");
    background-size: 280px 250px;
  }

  .implementation {
    background: url("/images/implementation-2x.png");
    background-size: 280px 250px;
  }
}

/* Clearfix by Nicolas Gallagher
-------------------------------------------------------------- */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* Mobile First RWD
-------------------------------------------------------------- */
@media screen and (min-width: 640px) {
  .container {
    padding: 5em 0;
  }

  body {
    font-size: 125%;
  }

  header h1, h1 {
    font-size: 2.6em;
  }

  .column {
    float: left;
    margin-right: 3.2%;
  }

  .one-third {
    width: 30%;
  }

  .half {
    width: 47.5%;
  }

  .full {
    float: none;
    margin-right: 0;
    margin-bottom: 0;
    overflow: hidden;
  }

  .column:nth-of-type(2n+2) {
    margin-right: 0;
    clear: right;
  }
}
