/*  #Basic Styles
================================================== */
body {
  font-size: 125%;
  line-height: 1.5em;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  background: #fff;
  color: #333;
}

.container {
  max-width: 700px;
  width: 90%;
  margin: 0 auto;
  padding: 2em 0;
  position: relative;
}

header {
  margin-bottom: 1.5em;
}

.masthead {
  font-family: "proxima-nova",sans-serif;
  margin-bottom: 0;
  line-height: 1em;
  font-size: 2em;
  font-weight: 700;
  text-transform: none;
  border: none;
  text-align: left;
  letter-spacing: 0;
}

/*  #Background Images
================================================== */
.gray  {
  background: url('../images/grid.png');
}

.white  {
  background: #fff;
}

/*  #Headers
================================================== */
h1, h2, h3, h4 {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  color: #333;
  margin: 0;
}

h1 {
  font-size: 2.7em;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  margin-bottom: 0.8em;
  letter-spacing: .1em;
}

h2 {
  color: #333;
  font-weight: 700;
  display: block;
  font-size: 2.7em;
  position: relative;
  text-align: center;
  z-index: 1;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.5em;
  line-height: 1.3em;
  margin-bottom: .6em;
  font-weight: 700;
}

h4 {
  font-family: "adelle", serif;
  color: #00b3b3;
  font-size: 6vw;
  line-height: 1.2em;
  margin-bottom: .5em;
  font-weight: 700;
}

.top {
  font-weight: 400;
  font-size: 1em;
  text-align: center;
}

.intro {
  font-size: 1.5em;
  line-height: 1.3em;
  margin-bottom: .5em;
  font-weight: 300;
}

h2:before {
  border-top: 2px solid #333;
  content:"";
  margin: 0 auto;
  position: absolute;
  top: 20px; left: 0; right: 0; bottom: 0;
  width: 3em;
  z-index: -1;
}

.bg {
  padding: 0 10px;
}

.of {
  font-style: italic;
  font-family: "adelle", serif;
  display: block;
  font-size: .6em;
  position: relative;
  text-align: center;
  text-transform: none;
  z-index: 1;
  margin: 0;
}

.of:before {
  border-top: 2px solid #333;
  content:"";
  margin: 0 auto;
  position: absolute;
  top: .9em; left: 0; right: 0; bottom: 0;
  width: 9em;
  z-index: -1;
}

.of-bg {
  background: url('../images/grid.png');
  padding: 0 10px;
}

.measure {
  font-weight: 700;
  letter-spacing: .2em;
}

/*  #Basic Styles
================================================== */
p {
  font-size: 1em;
  font-style: normal;
  line-height: 1.5em;
  margin: 0 0 1.5em 0;
  font-weight: 400;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

hr {
  border-width: 1px 0 0;
  border: solid #333;
  clear: both;
  margin: 1.5em 0 2em;
  height: 0;
}

ul, ol {
  margin: 0 0 1.5em 2em;
  padding: 0;
  list-style: square outside;
}

/*  #Elements
================================================== */
ul.units {
  margin: 0 auto;
  background: url('../images/wood_pattern.png');
}

ul.units li {
  float: left;
  list-style: none;
  width: 20%;
}

ul.units li a {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  text-align: center;
  color: #333;
  display: block;
  padding: .5em;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

ul.units li a:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

ul.units li span {
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: .1em;
}

ul.units li:nth-last-of-type(1) a {
  border-right: 1px solid #333;
}

/*  #Elements
================================================== */
.box-em {
  float: left;
  width: 43%;
  margin-right: 2%;
  margin-bottom: 1em;
  padding: 1em;
  background: #009999;
}

.box-em p {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-size: 1.5em;
  margin-bottom: 0;
}

.box-rem {
  text-align: center;
  float: left;
  width: 43%;
  padding: 1rem;
  background: #00b3b3;
}

.box-rem p {
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.box-width-pixel {
  text-align: center;
  width: 280px;
  padding: 10px;
  margin-bottom: 1em;
  background: #009999;
}

.box-width-pixel p {
  background: #fff;
  text-transform: uppercase;
  font-weight: 700;
  color: #333;
  font-size: 30px;
  margin-bottom: 0;
}

.box-width-percent {
  text-align: center;
  padding: 1.5%;
  margin-bottom: 1em;
  background: #00b3b3;
}

.box-width-percent p {
  background: #fff;
  text-transform: uppercase;
  font-weight: 700;
  color: #333;
  font-size: 1.5em;
  margin-bottom: 0;
}

/*  #Links
================================================== */
a, a:visited {
  color: #EE4938;
  text-decoration: none;
}

a:hover {
  color: #EE4938;
  text-decoration: underline;
}

.masthead a:hover {
  text-decoration: none;
}

/*  #Columns
================================================== */
.fullwidth .col {
  float: none;
  margin-left: 0;
}

.grid2 .col:nth-of-type(2n+1) {
  margin-left: 0;
  clear: left;
}

.col {
  float: left;
  margin-left: 3.2%;
}

.grid2 .col {
  width: 48.4%;
}

/*  #Gist
================================================== */
.gist .gist-file .gist-data {
  font-size: .8em !important;
  background-color: #fff !important;
  border-bottom: 0 !important;
}

.gist-meta {
  display: none;
}

/*  #Clearfix
================================================== */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

/*  #RWD (Large, Medium, Small)
================================================== */
@media screen and (min-width: 320px) {
  body {
    font-size: 112.5%;
  }

  .position {
    font-size: 2.7em;
  }

  .position-fixed,
  .z-index {
    font-size: 2em;
  }

  .col {
    width: 100% !important;
    margin-left: 0 !important;
    clear: none !important;
  }
}

@media screen and (min-width: 700px) {
  body {
    font-size: 125%;
  }

  ul.units li a {
    padding: 1em;
  }
}

@media screen and (min-width: 1300px) {
  body {
    font-size: 150%;
  }

  ul.units li a {
    padding: .7em;
  }
}
