/*  #Layout
================================================== */
.container {
  max-width: 650px;
  width: 90%;
  margin: 1.5em auto;
  position: relative;
}

body {
  font-size: 112.5%;
  line-height: 1.5em;
  font-family: "skolar",serif;
  font-weight: 400;
  background: #fff;
}

header {
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #ddd;
}

.masthead {
  font-family: "proxima-nova",sans-serif;
  margin-bottom: 0;
  line-height: 1em;
  font-size: 2em;
  font-weight: 700;
  text-transform: none;
  border: none;
  text-align: left;
  letter-spacing: 0;
}

/*  #Headers
================================================== */
h1, h2, h3 {
  font-family: "skolar",serif;
  font-style: normal;
  font-weight: 700;
  color: #333;
  margin: 0;
}

h1 {
  font-family: "proxima-nova",sans-serif;
  font-size: 2.7em;
  line-height: 1em;
  margin-bottom: .5em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5em;
  line-height: 1.3em;
  font-weight: 400;
  margin-bottom: .5em;
}

h3 {
  font-family: "proxima-nova",sans-serif;
  font-size: 1.5em;
  line-height: 1.3em;
  margin-bottom: .6em;
  text-transform: uppercase;
}

/*  #Basic Styles
================================================== */
p {
  font-size: 1em;
  font-style: normal;
  line-height: 1.5em;
  margin: 0 0 1.5em 0;
  color: #333;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

hr {
  border-width: 1px 0 0;
  border: solid #333;
  clear: both;
  margin: 1.5em 0 2em;
  height: 0;
}

ul, ol {
  margin: 0 0 1.5em 2em;
  color: #333;
  list-style: square outside;
}

/*  #Links
================================================== */
a, a:visited {
  color: #EE4938;
  text-decoration: none;
}

a:hover {
  color: #EE4938;
  text-decoration: underline;
}

.masthead a:hover {
  text-decoration: none;
}

/*  #Elements
================================================== */
ul {
  margin: 0 auto;
  background: url('../images/wood_pattern.png');
}

ul li {
  float: left;
  list-style: none;
  width: 20%;
}

ul li a {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  text-align: center;
  color: #333;
  display: block;
  padding: 1em 1em;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

ul  li a:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

ul  li span {
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: .1em;
}

ul  li:nth-last-of-type(1) a {
  border-right: 1px solid #333;
}

/*  #Boxes
================================================== */
.note {
  background: #fff8dc;
  padding: .5em;
  margin-bottom: 1.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.note p:before {
  content:"✎  ";
}

.note p:last-child {
  margin-bottom: 0;
}

/*  #Gist
================================================== */
.gist .gist-file .gist-data {
  font-size: .8em !important;
  background-color: #fff !important;
  border-bottom: 0 !important;
}

.gist-meta {
  display: none;
}

/*  #Clearfix
================================================== */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*  #Columns
================================================== */
.column {
  width: 100%;
  margin-left: 0;
  clear: none;
}

.fullwidth .column {
  float: none;
  margin-left: 0;
}

/* Mobile First RWD
-------------------------------------------------------------- */
@media screen and (min-width: 640px) {
  body {
    font-size: 137.5%;
  }

  .column {
    float: left;
    margin-left: 3.2%;
  }

  .grid2 .column {
    width: 48.4%;
  }

  .grid3 .column {
    width: 31.2%;
  }

  .grid2 .column:nth-of-type(2n+1),
  .grid3 .column:nth-of-type(3n+1) {
    margin-left: 0;
    clear: left;
  }
}

@media screen and (min-width: 1100px) {
  body {
    font-size: 150%;
  }
}
