.hero {
  background: $gray;
  background-position: center;
  position: relative;
  height: 15em;

  @media #{$medium} {
    height: 25rem;
  }

  .container { margin: 0 auto; }

  /* Grid Retrospective */
  &.hero--grid { background-image: url("/assets/images/blog/grid/grid-pattern.svg"); }
}

.hero__inner {
  @include transform (translateY(-50%));
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.hero__title {
  color: $white;
  margin-bottom: .2rem;

  &:after { display: none; }
}

.hero__date {
  color: $white;
  margin: 0;
}
