/* Post Header
========================================================================== */

.post-header {
  border: none;
  text-align: center;
  margin-bottom: 3.5rem;
}

.post-header__title { margin-bottom: .5rem; }

.post-header__date,
.post-header__tags {
  color: $gray;
}

/* Post
========================================================================== */

.post {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post__item {
  border-bottom: 1px solid $border-light;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;

  &:last-child { border: none; }
}

@media #{$medium} {
  .post__item {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }
}

.post__link {
  color: $black;
  text-decoration: none;
}

.post__title { margin-bottom: 1rem; }

.post__date {
  color: $gray;
  font-size: .9rem;
  margin-bottom: 0;
}

.post__excerpt { margin: 0; }

article li {
  margin-bottom: .5rem;

  &:last-child { margin-bottom: 0; }
}

/* Post Footer
========================================================================== */

.post-footer {
  @extend %clearfix;
  border-top: 1px solid $border-light;
  border-bottom: 1px solid $border-light;
  list-style: none;
  margin: 0;
  padding: 0;

  .post-footer__item {
    float: left;
    margin: 0;
    width: 50%;

    &:only-of-type { width: 100%; }
  }

  .post-footer__link {
    @include ellipsis;
    @include transition (background $duration $timing);
    border-left: 1px solid $border-light;
    color: $gray;
    display: block;
    padding: 1.5rem;
    text-align: center;
    text-decoration: none;

    @media #{$medium} {
      padding: 2rem 4rem;
    }

    &:hover { background: $light-gray; }
  }
}

.post-footer__title {
  @include ellipsis;
  color: $black;
  font-weight: $bold;
  margin: 0;
}

.post-footer__subtitle {
  color: $gray;
  font-size: .9rem;
  margin: 0;
}
