<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <link rel="apple-touch-icon-precomposed" sizes="512x512" href="/assets/images/apple-touch-icons/favicon-512.png">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700" rel="stylesheet">
  <link rel="stylesheet" href="/assets/stylesheets/main.css">
</head>
