<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/apple-touch-icons/favicon-152.png">

  <!-- CSS -->
  <link rel="stylesheet" href="/css/main.css">

  <!-- Typekit -->
  <script src="//use.typekit.net/bnv8gvu.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <!-- Scripts -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/js/ZeroClipboard.js"></script>
  <script src="/js/ClipboardInteractor.js"></script>
  <script src="/js/site.js"></script>
</head>
