/* Mixins
========================================================================== */

@mixin prefix-property($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  #{$property}: $value;
}

@mixin transition($arguments) {
  @include prefix-property(transition, $arguments);
}

@mixin transform($arguments) {
  @include prefix-property(transform, $arguments);
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin clean-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin border-bottom {
  border-bottom: 3px solid $black;
  content: "";
  display: block;
  margin: .3rem auto 2rem;
  width: 1.2rem;
}
