// Font Weights
$regular: 400;
$bold:    700;

// Body Font
$body-font: $regular 100%/1.5 "proxima-nova", sans-serif;

// Header Font
$header-font: $bold 100%/1.25 "proxima-nova", sans-serif;

// Colors
$primary-color: #497bad;
$white:         #fff;
$black:         #1a1a1a;
$light-gray:    #f8f8f8;
$gray:          #aaa;
$red:           #df7063;

// Border Colors
$border-light: #eee;
$border-dark: #ddd;

// Primary Button Color
$primary-button:       $primary-color;
$primary-button-hover: darken($primary-color, 5%);

// Border Radius
$border-radius: 4px;

// Grid
$content-width: 38rem;
$content-width-wide: 50em;

// Medium Screens
$medium: "(min-width: 40em)";

// Large Screens
$large: "(min-width: 64em)";

// Animation Duration and Timing
$duration: .2s;
$timing: cubic-bezier(.645, .045, .355, 1);

// Z-index
$overlay-high:   9999;
$overlay-medium: 9000;
$overlay-low:    8000;
