/* Layout
========================================================================== */

/* Apply a natural box layout model to all elements, but allowing components to change */
html { box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font: $body-font;
  font-weight: $regular;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media #{$medium} {
    font-size: 124%;
  }
}

body {
  background-color: $white;
  color: $black;
}

.container {
  @extend %clearfix;
  margin: 2em auto;
  max-width: $content-width;
  width: 90%;

  @media #{$medium} {
    margin: 3em auto;
  }
}

header,
footer {
  .container { margin: 0 auto; }
}


/* Logo
========================================================================== */

.logo {
  background: $black url("/images/logo.svg") no-repeat center;
  background-size: 55%;
  color: $white;
  float: left;
  height: 3.4em;
  width: 3.4em;
}

/* Section
========================================================================== */

section {
  margin-bottom: 3em;

  &:last-child { margin: 0; }
}


/* Images
========================================================================== */

img {
  display: block;
  margin-bottom: 1.5em;
  width: 100%;
}

/* Lists
========================================================================== */

ul, ol {
  list-style: disc outside;
  margin: 0 0 1.5em 1.5em;
  padding: 0;
}

li { margin-bottom: .5em; }

.clean-list {
  @include clean-list;
  margin-bottom: 1.5em;

  li { margin-bottom: 0; }
}

/* Footer
========================================================================== */

footer {
  color: $gray;
  text-align: center;

  .container { padding: 2em 0; }
}

.made-with-love {
  font-size: 1em;
  margin: 0;

  a {
    color: inherit;
    text-decoration: underline;

    &:hover { text-decoration: none; }
  }

  @media #{$medium} {
    font-size: .9em;
  }
}

.heart-icon {
  background: url("/images/heart.svg") no-repeat;
  display: inline-block;
  height: 12px;
  margin: 0 .1em;
  width: 14px;
}
