<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
 
  <!-- Homepage CSS -->
  <link rel="stylesheet" href="/css/styles.css" type="text/css" />
  <link rel="stylesheet" href="/css/assignment2.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Typekit -->
  <script type="text/javascript" src="//use.typekit.net/vcp0eam.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>
	<div class='container'>
		{{ content }}
	</div>
</body>
</html>