<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
 
  <!-- Homepage CSS -->
  <link rel="stylesheet" href="/css/styles.css" type="text/css" />
  
  <!-- Typekit -->
  <script type="text/javascript" src="//use.typekit.net/sla2bcu.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>
	<div class='container'>
	  <h1><a href="/index.html">Adam Kaplan</a></h1>
	  {{ content }}
	  <h2>Recent Posts</h2>
	  <ul>
	    {% for post in site.posts do %}
	    <li>
	      <a href="{{ post.url }}">{{ post.title }}</a>
	    </li>
	    {% endfor %}
	  </ul>
	</div>
</body>
</html>