<!DOCTYPE html>
<html>
  <head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Grid</title>
    <meta name="description" content="A simple guide to responsive design.">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="/grid/grid.css">

    <!-- Google Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600">
  </head>
  <body>
    {{ content }}
  </body>
</html>
