<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
 
  <!-- Homepage CSS -->
  <link rel="stylesheet" href="/css/styles.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Typekit -->
  <script type="text/javascript" src="//use.typekit.net/vcp0eam.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>
<div class='container'>
	<h1><a href="/index.html">Adam Kaplan</a></h1>
	<hr />
	 {{ content }}
	 <div class='box gray'>
		 <h3>Recent Posts</h3>
		 	<ul class='posts'>
				{% for post in site.posts do %}
				    <li>
						<a href="{{ post.url }}">{{ post.title }}</a>
						<div class='post-date'>{{ post.date | date: "%B %d, %Y" }}</div>
						<p>{{ post.content | strip_html | truncatewords:25 }}</p>
					</li>
 			    {% endfor %}
 			  </ul>
	  </div>
	</div>
</body>
</html>