<!DOCTYPE html>
<html>
  <head>
  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="/css/base.css" type="text/css" />

  <!-- Typekit
  ================================================== -->
  <script type="text/javascript" src="//use.typekit.net/vcp0eam.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
<body>

<div class='container'>
  <header>
    <h1 class='masthead'><a href="/index.html">ak</a></h1>
  </header>

  {{ content }}

  <h3>Recent Posts</h3>
      <ul class='posts'>
        {% for post in site.posts do %}
        <li>
          <a href="{{ post.url }}">
            <span>{{ post.title }}</span>
            <em>{{ post.date | date: "%m/%d/%y" }}</em>
          </a>
        </li>
      {% endfor %}
      </ul>
</div><!-- container -->
</body>
</html>
