<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="container">
      <article>
        <header class="post-header">
          <h1 class="post-header__title">{{ page.title }}</h1>
          {% if page.date %}
            <p class="post-header__date">{{ page.date | date: "%B %-d, %Y" }}</p>
          {% endif %}
          {% if page.tags %}
            <p class="post-header__tags">{{ page.tags }}</p>
          {% endif %}
        </header>
        {{ content }}
      </article>
    </div>
    {% include post-footer.html %}
    {% include footer.html %}
  </body>
</html>
