<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}

    <div class="container">
      <article>
        <h1 class="article-title">{{ page.title }}</h1>
        <span class="article-date">{{ page.date | date: "%B %-d, %Y" }}</span>
        <hr>
        {{ content }}
      </article>

      <div class="prev_next post_nav">
        {% if page.previous.url %}
        <p class="previous"><a href="{{ page.previous.url }}" rel="previous" title="{{ page.previous.title }}">← Previous</a></p>

        {% endif %} {% if page.next.url %}
        <p class="next"> <a href="{{ page.next.url }}" rel="next" title="{{ page.next.title }}">Next →</a></p> {% endif %}
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
